Use of references is weird

These uses of references are odd:
* `As stated in IAB RFC 1958 {{?PRINCIPLES=RFC1958}}`
* `The earliest form of the principle in the RFC series (in RFC 760 {{?IP=RFC0760}})`

How about we instead use the RFC number directly as the reference if that's important to what we're trying to convey? We can always add a comment next to it mentioning that it's an IAB document or it refers to the specification of IP

This was a deliberate choice.  The text could be "in [XXX]" but as I believe the text needs to include the RFC number, I've added that in text rather than as the anchor.

Isn't the anchor part of the text in all known renditions?

I don't like to pretend that it is part of the text.  That is, we don't use "[RFC9000]" as a word in prose, but instead say "RFC 9000 [1]" as if the thing in brackets contains no semantic content.

See https://www.rfc-editor.org/rfc/rfc7322.html#section-4.8.6.3 for an example.

I agree with the goal of not using reference anchors as prose. How about something like:
* `As stated in the IAB document on Architectural Principles of the Internet [RFC1958]`
* `The earliest form of the principle in the RFC series (the Internet Protocol specification [RFC0760])`

WFM